<template>
  <div class="h-full" id="template">
    <div
      class="grid grid-cols-12 h-full "
      :style="{ 'font-size': fontSize, color: color }"
    >
      <Intro
        class="col-span-4 h-full"
        :style="{ backgroundColor: color }"
        :personal="fieldsToObject"
      />
      <div class=" col-span-8 px-6 py-2">
        <draggable
          :disabled="!isSectionDraggable"
          v-model="allSections"
          class="grid grid-cols-12 gap-4"
          :group="sections"
          @start="drag = true"
          @end="drag = false"
        >
          <Section
            :style="{ paddingTop: sectionSpacing }"
            class="col-span-12"
            :class="{ draggable: isSectionDraggable }"
            v-for="section in allSections"
            :section="section"
            v-show="section.entries.length"
            :key="section.uniqueKey"
          />
        </draggable>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { templateMixin } from "~/common/mixins";
import Intro from "./Intro.vue";
import Section from "./Section.vue";
import draggable from "vuedraggable";
export default Vue.extend({
  mixins: [templateMixin],
  components: {
    Intro,
    Section,
    draggable
  },
  mounted() {},
  methods: {
    printDom() {
      //printJS({printable: "template", type: "html", css:});
    }
  },
  mounted() {},
  computed: {
    allSections: {
      get() {
        return this.sections;
      },
      set(value) {
        this.setSections(value);
      }
    },
    fontSize() {
      return `${this.theme.fontSize}%`;
    },
    color() {
      return `${this.theme.color}`;
    },
    sectionSpacing() {
      return `${this.theme.sectionSpacing}px`;
    }
  }
});
</script>

<style scoped>
.draggable {
  @apply border-4 rounded-lg border-dashed p-2 border-gray-200;
}
</style>
