<template>
  <div class="flex flex-col break-words p-6 text-gray-100">
    <div>
      <img
        class="h-24 w-24 mx-auto rounded-full mb-2"
        v-if="profilePhoto"
        :src="profilePhoto"
      />
      <div class="intro-name font-bold text-center" v-if="personal.name">
        {{ personal.name }}
      </div>
      <hr class="my-4 w-8 mx-auto border border-gray-300" />
      <div>
        <div
          class="font-medium font-mono uppercase intro-title text-center"
          v-if="personal.headlineOrTitle"
        >
          {{ personal.headlineOrTitle }}
        </div>
      </div>
      <p class="details-heading mt-16">Personalia</p>
      <div class="flex flex-col intro-contact font-semibold space-y-1">
        <a class="underline" v-if="personal.website" :href="personal.website">{{
          personal.website
        }}</a>
        <a
          v-if="personal.emailaddress"
          class="underline"
          :href="`mailto:${personal.emailaddress}`"
          >{{ personal.emailaddress }}</a
        >
        <a
          class="underline"
          v-if="personal.phonenumber"
          :href="`tel:${personal.phonenumber}`"
          >{{ personal.phonenumber }}</a
        >
        <p class="max-w-full" v-for="(value, key) in filteredObject" :key="key">
          {{ value }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: {
    personal: Object
  },

  data() {
    return {
      namesToFilter: [
        "name",
        "headlineOrTitle",
        "website",
        "emailaddress",
        "phonenumber"
      ]
    };
  },
  mounted() {},
  computed: {
    ...mapGetters("personal", ["profilePhoto"]),
    filteredObject() {
      let copy = { ...this.personal };
      for (const [key, value] of Object.entries(this.personal)) {
        if (this.namesToFilter.includes(key) || value == "") {
          delete copy[key];
        }
      }

      return copy;
    }
  }
};
</script>

<style scoped>
.intro-name {
  font-size: 140%;
}
.intro-title {
  font-size: 112%;
  @apply text-gray-100;
}

.details-heading {
  font-size: 112%;
  @apply font-semibold mb-4;
}

.intro-contact {
  min-width: 25%;
  font-size: 82%;
  @apply text-gray-200;
}
</style>
