<template>
  <div class="w-full block">
    <contenteditable
      :style="{ marginBottom: titleSpacing }"
      class="section-name font-bold "
      :contenteditable="isContentEditable"
      tag="div"
      :value="section.name"
      @input="updateName"
    />
    <div class="">
      <draggable
        :disabled="!isEntryDraggable"
        v-model="entries"
        class="flex flex-col items-start"
        :group="`${section.uniqueKey}`"
        @start="drag = true"
        @end="drag = false"
      >
        <div
          v-for="entry in entries"
          :class="{ draggable: isEntryDraggable }"
          :style="{ marginBottom: entrySpacing }"
          :key="entry.id"
          @click="handleMenuOpen($event, entry)"
          v-click-outside="hideMenu"
          class=" hover:bg-gray-100 w-full hover:cursor-pointer"
        >
          <span
            class=" text-black inline-grid grid-cols-2   leading-none  gap-x-2 gap-y-2 entries-wrapper"
          >
            <contenteditable
              tag="p"
              :contenteditable="isContentEditable"
              v-for="(field, index) in entry.fields.filter(field => {
                return field.content;
              })"
              :class="[
                field.full
                  ? 'col-span-full leading-normal mt-0.5'
                  : 'col-span-1',
                entry.fields.length < 2 ? 'font-normal' : ''
              ]"
              :style="{ fontWeight: entry.fields.length < 2 ? '400' : '' }"
              :value="field.content"
              :key="field.uniqueKey"
              @input="updateEntryContent($event, entry.id, field.uniqueKey)"
            />
          </span>
        </div>
      </draggable>
    </div>
    <Tooltip :ref="`${section.uniqueKey}-tooltip`">
      <template v-slot:default="slotProps">
        <button @click="deleteEntryFromSection(slotProps.item)">
          <i class="fas fa-trash text-lg hover:text-red-600"></i>
        </button>
      </template>
    </Tooltip>
  </div>
</template>

<script>
import { templateMixin } from "~/common/mixins";
import draggable from "vuedraggable";
export default {
  mixins: [templateMixin],
  components: {
    draggable
  },
  props: {
    section: Object
  },
  data() {
    return {
      options: [
        {
          name: "Delete",
          slug: "delete"
        }
      ]
    };
  },
  computed: {
    entries: {
      get() {
        return this.sectionByKey(this.section.uniqueKey).entries;
      },
      set(value) {
        this.setEntries(this.section.uniqueKey, value);
      }
    },
    titleSpacing() {
      return `${this.theme.sectionSpacing / 2}px`;
    },
    entrySpacing() {
      return `${this.theme.sectionSpacing / 1.6}px`;
    }
  },
  methods: {
    updateName(value) {
      this.updateSectionName(this.section.uniqueKey, value);
    },
    updateEntryContent(value, id, fieldUniqueKey) {
      this.updateEntry(this.section.uniqueKey, id, fieldUniqueKey, value);
    },
    handleMenuOpen(event, item) {
      if (
        !this.isContentEditable &&
        !this.isEntryDraggable &&
        !this.isSectionDraggable
      ) {
        this.$refs[`${this.section.uniqueKey}-tooltip`].showMenu(event, item);
      }
    },
    deleteEntryFromSection(item) {
      this.deleteEntry(this.section.uniqueKey, item.id);
      //this.$refs.tooltip.hideMenu();
    },
    hideMenu() {
      this.$refs[`${this.section.uniqueKey}-tooltip`].hideMenu();
    }
  }
};
</script>

<style scoped>
.section-name {
  font-size: 108%;
}

.entries-wrapper {
  font-size: 86%;
}

.entries-wrapper p:nth-child(1),
.entries-wrapper p:nth-child(2) {
  font-weight: 600;
  font-size: 96%;
}
.draggable {
  @apply border-4 rounded-lg border-dashed p-2 border-gray-200;
}
</style>
