<template>
  <button
    class="rounded px-3 py-2 inline-flex text-center items-center justify-center text-sm font-medium tracking-wide "
  >
    <slot></slot>
  </button>
</template>

<script>
export default {};
</script>

<style></style>
