<template>
  <modal
    classes="p-6 modal"
    width="90%"
    :maxWidth="600"
    :adaptive="true"
    height="auto"
    @before-open="beforeOpen"
    name="section-form"
    ><form @submit.prevent="addEntry">
      <MenuHeader class="pb-4">{{ section.name }}</MenuHeader>
      <div class="grid grid-cols-6 sm:grid-cols-12 gap-2">
        <FieldInput
          :class="[field.full ? 'col-span-full' : 'col-span-6']"
          :type="field.type"
          v-for="(field, index) in form"
          :label="field.label"
          @input="onUpdate($event, index)"
          :key="field.uniqueKey"
        />
      </div>
      <div class="flex justify-between items-center mt-4">
        <button type="button" class="font-medium" @click="closeModal">
          <i class="fas fa-times pr-2"></i>Cancel
        </button>
        <PrimaryButton class=" text-right float-right" type="submit"
          >Add entry</PrimaryButton
        >
      </div>
    </form></modal
  >
</template>

<script lang="ts">
import Vue from "vue";
import { v4 as uuidv4 } from "uuid";
import { ADD_ENTRY } from "~/store/mutations-constants";
export default Vue.extend({
  data() {
    return {
      section: {} as Section,
      form: [] as Array<Field>
    };
  },
  methods: {
    beforeOpen(event: any): void {
      this.section = event.params.section;
      this.form = JSON.parse(JSON.stringify(this.section.template));
    },
    onUpdate(value: string, index: number): void {
      this.form[index].content = value;
    },
    addEntry(): void {
      let entry: Entry = { id: uuidv4(), fields: this.form };
      this.$store.commit(`sections/${ADD_ENTRY}`, {
        uniqueKey: this.section.uniqueKey,
        entry
      });
      this.closeModal();
    },
    closeModal(): void {
      this.$modal.hide("section-form");
    }
  }
});
</script>

<style>
.modal {
}
</style>
