<template>
  <aside class="fixed flex space-x-16 ">
    <ul class="inline-flex flex-col text-xl">
      <li
        class="first:border-tr first:border-tl last:border-br last:border-bl inline-flex items-center justify-center relative"
        v-for="item in items"
        :key="item.name"
      >
        <button
          :class="{ active: isMenuItemActive(item.name) }"
          class="bg-white w-12 h-12"
          @click="setActiveMenuItem(item.name)"
        >
          <i :class="item.icon" class="fa active:text-white"></i>
        </button>
      </li>
    </ul>
    <div class="bg-white p-5 rounded w-72 fixed shadow-lg">
      <component :is="activeMenuComponent"></component>
    </div>
  </aside>
</template>

<script lang="ts">
import Vue from "vue";
import { MENU_ITEMS } from "@/common/data";
import { SET_ACTIVE_MENU_ITEM } from "@/store/mutations-constants";
export default Vue.extend({
  data() {
    return {
      items: [] as MenuItem[]
    };
  },
  created() {
    this.items = MENU_ITEMS;
  },
  computed: {
    activeMenuComponent(): string | undefined {
      let activeItemName = this.$store.getters.activeMenuItem;
      let activeItem = this.items.find((item: MenuItem) => {
        return item.name === activeItemName;
      });
      return activeItem?.component;
    }
  },
  methods: {
    isMenuItemActive(menuItemName: string): boolean {
      return this.$store.getters.isMenuItemActive(menuItemName);
    },

    setActiveMenuItem(menuItemName: string): void {
      this.$store.commit(SET_ACTIVE_MENU_ITEM, menuItemName);
    }
  }
});
</script>

<style scoped>
.active {
  @apply bg-blue-700 text-white;
}

.active::after {
  content: "";
  position: absolute;
  right: -11px;
  top: 14px;
  width: 0;
  float: right;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 12px solid rgb(29, 78, 216);
}
</style>
