<template>
  <div class=" shadow-lg overflow-y-visible">
    <div class="template" id="template-wrapper">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.template {
  height: calc(297mm);
  width: 210mm;
  background-color: white;
}
</style>
