<template>
  <div class="border border-gray-400 rounded-sm flex flex-col py-1 px-2">
    <InlineLabel>{{ label }}</InlineLabel>
    <textarea
      class="focus:outline-none font-medium text-gray-900"
      :for="label"
      rows="4"
      v-bind:value="value"
      v-on:input="$emit('input', $event.target.value)"
    />
  </div>
</template>

<script>
export default {
  props: {
    label: String,
    value: String
  }
};
</script>

<style></style>
