<template>
  <div
    class="absolute py-1 px-2  bg-black text-white"
    v-show="show"
    :style="style"
  >
    <slot v-bind:item="item"></slot>
  </div>
</template>

<script>
export default {
  data() {
    return {
      show: false,
      left: 0,
      top: 0,
      item: {}
    };
  },
  computed: {
    style() {
      return {
        top: `${this.top}px`,
        left: `${this.left}px`
      };
    }
  },
  methods: {
    showMenu(event, item) {
      this.top = event.clientY - 30;
      this.left = event.clientX - 15;
      this.show = true;
      this.item = item;
    },
    hideMenu() {
      this.show = false;
    }
  }
};
</script>

<style scoped>
div::after {
  display: block;
  width: 20px;
  content: "";
  height: 15px;
  position: absolute;
  left: 7px;
  margin-top: 0px;
  z-index: 10;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  box-sizing: border-box;
  border-top: 10px solid #000;
}
</style>
