<template>
  <div class="overflow-y-scroll h-screen w-screen">
    <Sidebar />
    <div
      class=" flex justify-center overflow-y-visible overflow-x-hidden template-wrapper"
    >
      <TemplateWrapper>
        <Basic></Basic>
      </TemplateWrapper>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Sidebar from "~/components/Sidebar.vue";
import Basic from "~/components/templates/basic/Basic.vue";

export default Vue.extend({
  components: { Sidebar, Basic }
});
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
@apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}
@media screen and (min-width: 1280px) {
  .template-wrapper {
    padding-left: calc(288px);
  }
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
