<template>
  <div class="">
    <MenuHeader>Content</MenuHeader>
    <MenuDescription
      >Add entries and adjust the order of sections & entries.</MenuDescription
    >
    <CustomSelect>
      <template v-slot:trigger
        ><div
          class="p-2 text-sm font-medium text-gray-800 flex justify-between items-center"
        >
          Add content <i class="pl-2 fas fa-chevron-down text-base"></i></div
      ></template>
      <template v-slot:content="{ toggle }">
        <ul class="max-h-56 overflow-y-auto transition-all">
          <li
            class=" hover:bg-gray-100"
            v-for="section in sectionNames"
            :key="section"
          >
            <button class="p-2" @click="showSectionForm(section)">
              {{ section }}
            </button>
          </li>
          <li class=" text-left">
            <button
              class="text-left p-2 w-full font-medium text-red-600"
              @click="toggle"
            >
              Cancel
            </button>
          </li>
        </ul></template
      >
    </CustomSelect>
    <div class="mt-4">
      <Label>Profile photo</Label>
      <img
        class="w-16 h-16 my-2"
        v-show="profilePhoto"
        :src="`${profilePhoto}`"
      />
      <input
        class="max-w-full"
        type="file"
        accept="image/png, image/jpeg"
        @change="files"
      />
    </div>
    <div class="flex flex-col space-y-2 mt-4">
      <Label>Edit any text</Label>
      <PrimaryButton
        @click.native="toggleContentEditable"
        :class="[
          !isContentEditable ? 'bg-black text-white' : 'bg-green-300 text-black'
        ]"
        ><i class="fas fa-edit text-lg pr-2"></i
        >{{
          isContentEditable ? "Stop Edit Mode" : "Free Edit Mode"
        }}</PrimaryButton
      >
    </div>
    <div class="flex flex-col space-y-2 mt-4">
      <Label>Positioning</Label>
      <div v-show="showPositioningButtons" class="w-full">
        <PrimaryButton @click.native="toggleEntriesDraggable" class="w-full"
          ><i class="fas fa-arrows-alt pr-2 text-lg"></i>Move
          Entries</PrimaryButton
        >
        <PrimaryButton
          @click.native="toggleSectionsDraggable"
          class="mt-2 w-full"
          ><i class="fas fa-arrows-alt pr-2 text-lg"></i>Move
          Sections</PrimaryButton
        >
      </div>
      <div v-show="!showPositioningButtons" class="w-full">
        <PrimaryButton
          @click.native="removeDraggable"
          class="mt-2 w-full text-black bg-green-300"
          ><i class="fas fa-arrows-alt pr-2 text-lg"></i>Stop
          positioning</PrimaryButton
        >
      </div>
    </div>

    <SectionForm />
  </div>
</template>

<script lang="ts">
import { mapGetters } from "vuex";
import Vue from "vue";
import {
  REMOVE_ENTRIES_DRAGGABLE,
  REMOVE_SECTIONS_DRAGGABLE,
  SET_PROFILE_PHOTO,
  TOGGLE_CONTENT_EDITABLE,
  TOGGLE_ENTRIES_DRAGGABLE,
  TOGGLE_SECTIONS_DRAGGABLE
} from "~/store/mutations-constants";
export default Vue.extend({
  components: {},
  computed: {
    ...mapGetters("sections", ["sectionNames", "sections"]),
    ...mapGetters("personal", ["profilePhoto"]),
    isSectionDraggable() {
      return this.$store.getters.isSectionDraggable;
    },
    isEntryDraggable() {
      return this.$store.getters.isEntryDraggable;
    },
    isContentEditable() {
      return this.$store.getters.isContentEditable;
    },

    showPositioningButtons() {
      if (this.isSectionDraggable || this.isEntryDraggable) {
        return false;
      }
      return true;
    }
  },
  methods: {
    files(event: any) {
      let fileReader = new FileReader();
      if (event.target.files[0]) {
        fileReader.onload = (e: any) => {
          this.$store.commit(`personal/${SET_PROFILE_PHOTO}`, e.target.result);
        };
        fileReader.readAsDataURL(event.target.files[0]);
      }
    },
    removeDraggable() {
      this.$store.commit(REMOVE_ENTRIES_DRAGGABLE);
      this.$store.commit(REMOVE_SECTIONS_DRAGGABLE);
    },
    showSectionForm(name: string): void {
      const section: Section = this.sections.find(
        (section: Section) => section.name == name
      );
      this.$modal.show("section-form", { section });
    },
    toggleContentEditable() {
      this.$store.commit(TOGGLE_CONTENT_EDITABLE);
    },
    toggleEntriesDraggable() {
      this.$store.commit(TOGGLE_ENTRIES_DRAGGABLE);
    },
    toggleSectionsDraggable() {
      this.$store.commit(TOGGLE_SECTIONS_DRAGGABLE);
    }
  }
});
</script>

<style></style>
