<template>
  <div>
    <MenuHeader>Contact Information</MenuHeader>
    <MenuDescription>Add your personal & contact information</MenuDescription>
    <div class="space-y-2">
      <TextInput
        v-for="field in fields"
        :value="field.content"
        @input="updateField($event, field.uniqueKey)"
        :label="field.label"
        :key="field.uniqueKey"
      />
    </div>
    <PrimaryButton @click.native="openModal" class="w-full mt-4"
      >Add Field</PrimaryButton
    >
    <FieldForm />
  </div>
</template>

<script>
import { ADD_FIELD, SET_FIELD_CONTENT } from "~/store/mutations-constants";
import { mapGetters } from "vuex";
export default {
  name: "Personal",
  methods: {
    addField() {
      this.$store.commit(`personal/${ADD_FIELD}`, "Address2");
    },
    updateField(value, key) {
      this.$store.commit(`personal/${SET_FIELD_CONTENT}`, { key, value });
    },
    openModal() {
      this.$modal.show("field-form");
    }
  },
  computed: {
    ...mapGetters("personal", ["fields"])
  }
};
</script>

<style></style>
