<template>
  <div>
    <MenuHeader>Save</MenuHeader>
    <MenuDescription
      >Save your resume as a PDF or print it directly! Make sure you turn off
      margins and header/footer.</MenuDescription
    >

    <PrimaryButton v-print="printObj" class="w-full mt-2"
      >Save as PDF/Print</PrimaryButton
    >
    <FieldForm />
  </div>
</template>

<script>
import print from "vue-print-nb";
export default {
  data() {
    return {
      printObj: {
        id: "template-wrapper"
      }
    };
  },
  mounted() {},
  directives: {
    print
  }
};
</script>

<style></style>
