<template>
  <div>
    <MenuHeader>Theme</MenuHeader>
    <MenuDescription>Change the theme of your resume.</MenuDescription>
    <form class="space-y-4">
      <div class="flex flex-col items-center">
        <Label class="mb-1 self-start">Color</Label>
        <color-picker class="w-1/2 h-auto" v-model="color"></color-picker>
      </div>
      <div class="flex flex-col">
        <div>
          <Label class="mb-1">Font size</Label
          ><span :style="{ 'font-size': previewFontSize }" class="ml-2"
            >({{ (16 * theme.fontSize) / 100 }}px)</span
          >
        </div>
        <div class="flex justify-between items-center">
          <i class="fa fa-font text-lg" aria-hidden="true"></i>
          <input
            class="w-full mx-2"
            type="range"
            v-model="fontSize"
            min="70"
            max="100"
          />
          <i class="fa fa-font text-2xl" aria-hidden="true"></i>
        </div>
      </div>
      <div class="flex flex-col">
        <div>
          <Label class="mb-1">Section spacing</Label
          ><span class="ml-2">({{ theme.sectionSpacing }}px)</span>
        </div>
        <div class="flex justify-between items-center">
          <i class="fas fa-compress-alt text-lg" aria-hidden="true"></i>
          <input
            class="w-full mx-2"
            type="range"
            v-model="sectionSpacing"
            min="5"
            max="40"
          />
          <i class="fas fa-expand-alt text-2xl" aria-hidden="true"></i>
        </div>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { hexToHSLA, HSLAtoHex } from "~/common/helpers";
import {
  SET_COLOR,
  SET_FONT_SIZE,
  SET_SECTION_SPACING
} from "~/store/mutations-constants";
import { mapGetters } from "vuex";
export default Vue.extend({
  components: {},
  computed: {
    ...mapGetters("theme", ["theme"]),
    previewFontSize() {
      return `${(16 * this.theme.fontSize) / 100}px`;
    },

    fontSize: {
      get() {
        return this.$store.state.theme.fontSize;
      },
      set(value) {
        this.$store.commit(`theme/${SET_FONT_SIZE}`, value);
      }
    },
    sectionSpacing: {
      get() {
        return this.$store.state.theme.sectionSpacing;
      },
      set(value) {
        this.$store.commit(`theme/${SET_SECTION_SPACING}`, value);
      }
    },
    fontFamily: {
      get() {},
      set(value) {}
    },
    color: {
      get() {
        let hex = this.$store.state.theme.color;
        let hsla = hexToHSLA(hex);

        return { hsla };
      },
      set(value: Number) {
        let hsla: HSLA = {
          hue: value,
          saturation: 83.2,
          luminosity: 23.3,
          alpha: 1
        };
        let hex: string = HSLAtoHex(hsla);
        this.$store.commit(`theme/${SET_COLOR}`, hex);
      }
    }
  }
});
</script>

<style scoped>
.rcp {
  width: 200px;
  height: 200px;
}
</style>
